.navbar-fixed-top 
{
  background-color: #322c2c;
}

p, h1, h2, h3, h4, h5, h6
{
	font-family: Arial, sans-serif;
}

h1, h2
{
	font-weight: bold;
	letter-spacing: -1px;
}

a:hover
{
	text-decoration: none;
}

li#search 
{
    padding-top: 15px;
}
/*
#silahis-menu
{
	height: 100%;
	left: 0;
    position: fixed;
    top: 0;
}
*/

#events-calendar
{
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
}

.event-item {
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-item a {
  color: inherit;
}

.event-item .day {
  background-color: #941a1e;
  border: 1px solid #941a1e;
  color: #eee;
}

.event-item .date {
  border: 1px solid #dfdfdf;
  color: #777;
  margin-bottom: 10px;
}

.event-item span {
  display: block;
  padding: 5px;
  text-align: center;
}

.event-item h5 {
  color: #941a1e;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
}

#popular-opinion h1 
{
    background-color: #941a1e;
    color: #f1f1f1;
    margin-bottom: 0;
    padding: 5px;
}

#popular-opinion-content
{
    background-color: #000000;
}

#popular-opinion-content a:hover
{
    text-decoration: none;
}

#popular-opinion-content a p
{
    color: #ffffff;
    padding: 2px;
}
/*
#popular-article-spotlight h1 
{
    background-color: #ededed;
    margin-bottom: 0;
    padding: 5px;
}

.spotlight-content-sidebar
{
	background-color: #ededed;
	padding: 5px;
}
*/
.article-sections ul li
{
	border-bottom: 1px solid #ccc;
}

.article-sections ul li a
{
	display: block;
	padding: 10px;
	color: #000000;
}

.article-sections ul li a.active, .article-sections li a:hover 
{
  	background-color: #941a1e;
  	color: #ffffff;
  	text-decoration: none;
}

/*========= CAROUSEL ==========*/

#carousel-container{
	
}

#carousel-homepage{
	
}

#carousel-homepage img{
   	min-width: 100%;
	margin: auto;
	overflow: hidden;
	height: 390px;
}

.carousel-caption{
	color: #ffffff;
	text-shadow: none;
	width: 100%;
	margin: 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
}

.caption-left
{
	text-align: left;
	left: 0;
	bottom: 0;
}

.caption-right
{
	text-align: left;
	left: 0;
	bottom: 0;
}

.carousel-caption h2
{
	color: #ffffff;
	margin: 0;
}

.carousel-caption p
{
	margin-top: 10px;
}

.carousel-caption a
{
	color: #ffffff;
}

.carousel-caption a:hover
{
	text-decoration: none;
}

.carousel-indicators
{
	bottom: -40px;
}

#carousel-homepage .carousel-indicators li
{
	border: 1px solid #941a1e;
	background-color: #000000;
}

#carousel-homepage .carousel-indicators li.active
{
	background-color: #941a1e;
	border: 1px solid #000000;
	height: 12px;
	width: 12px;
}

/* More little details */

.article-content-photo img
{
	width: 100%;
	height: 390px;

	/* DANGER! You need to create a media query rule for this, Rigby... */
}

/* End of little details */

@media (max-width: 768px) {
	#carousel-container, #carousel-homepage
	{
		margin: 0px;
		padding: 0px;
	}

	#carousel-homepage img
	{
		max-width: 600px;
		margin: auto;
	}

	.carousel-caption h2
	{
		font-size: 1.5em;
		width: 100%;
	}
}